//Размеры экрана

$small-screen: 360px;
$medium-screen: 904px;
$large-screen: 1280px;


//Цвета - от светлого к темному

$grey-1: #F6F7F9;  // фон диаграммы
$grey-2: #E9ECEF;  // border у блоков; серые кнопки, normal; фон имени пользователя
$grey-3: #E1E5E8;  // все кнопки, disabled
$grey-4: #DDE0E5;  // серые кнопки, hover;
$grey-5: #C8CDD3;  // серые кнопки, pressed
$grey-6: #98A9B9;  // слот встречи, hover
$grey-7: #8494A3;  // слот встречи, pressed; название комнаты, disabled; placeholder

$blue-1: #0070E0;  // название комнаты, hover
$blue-2: #007DFF;  // синие кнопки, normal; border у полей ввода, focus; текущее время
$blue-3: #0059FF;  // синие кнопки, hover; свободный слот, hover; название комнаты, pressed
$blue-4: #1D00FE;  // синие кнопки, pressed; свободный слот, pressed
