.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;
  width: 100%;
  min-height: 48px;
  padding: 16px 21px 11px;
  background-color: #FFFFFF;
  border-bottom: 1px solid $grey-2;

  @media (min-width: $large-screen) {
    position: sticky;
    min-height: 72px;
    padding: 19px 25px 17px;
    font-size: 15px;
    transform: none;
  }
}

.header__button {
  padding: 4px 8px;
  font-size: 10px;

  &:not(:focus) {
    transform: scale(0);

    @media (min-width: $large-screen) {
      transform: none;
    }
  }

  @media (min-width: $large-screen) {
    padding: 10px 16px;
    font-size: 13px;
    transform: none;
  }
}
